{% extends "./base.njk" %}

{% block content %}
    <article class="multi">
        <h2 class="title">{{ title | safe }}</h2>
        {% for photo in gallery %}
        <div class="card">
            <a class="card__action" data-fancybox="espacos" href="/img/{{ photo.photo | safe }}">
                <img src="/img/{{ photo.photo | safe }}" alt="Espaço" class="card__img" />
            </a>
        </div>
        {% endfor %}
    </article>
{% endblock %}